body {
    background-color: rgb(20, 20, 20);
}
.content {
    position: absolute;
    top: 25%;
    left: 15%;
    right: 15%;
    font-family: Courier;
    font-size: 2em;
    color: rgb(232, 226, 226)
}


.mainblock-text a{
    color: rgb(24, 63, 193);
    font-weight: bold;
}

.mainblock-text a:hover {
    color: rgb(0, 8, 255);
    /*font-weight: normal;*/

}